<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{cut['imgname']}}</title>
</head>
<body>
<p id="info" style="position: fixed; z-index: 100"></p>
<div id="holder"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.js"></script>
<script>
  $(function () {
    var w = {{cut['imgsize']['width']}}, h = {{cut['imgsize']['height']}};
    var scale = (document.documentElement.clientWidth - 10) / w;
    var s = function (x) { return x * scale; };
    var paper = Raphael('holder', s(w), s(h));
    var r, oldFill;

    function hoverIn(id, x, y, w, h) {
      oldFill = this.attr('fill');
      this.attr({fill: 'rgba(0,0,255,.2)'});
      $('#info').text(id + ' (' + x + ', ' + y + ') ' + w + 'x' + h);
    }
    function hoverOut() {
      this.attr({fill: oldFill});
    }

    {% for b in cut['blocks'] %}
    r = paper.rect(s({{b['x'] - 2}}), s({{b['y'] - 2}}), s({{b['w'] + 4}}), s({{b['h'] + 4}}))
      .attr({stroke: '#00f'});
    r.hover(hoverIn.bind(r, 'block {{b["block_id"]}}', {{b["x"]}}, {{b["y"]}}, {{b["w"]}}, {{b["h"]}}), hoverOut);
    {% end %}

    {% for b in cut['columns'] %}
    r = paper.rect(s({{b['x']}}), s({{b['y']}}), s({{b['w']}}), s({{b['h']}}))
      .attr({stroke: 'rgba(200,200,200,.5)', fill: 'rgba(200,200,200,.01)'});
    r.hover(hoverIn.bind(r, 'column {{b["column_id"]}}', {{b["x"]}}, {{b["y"]}}, {{b["w"]}}, {{b["h"]}}), hoverOut);
    {% end %}

    {% for b in cut['chars'] %}
    r = paper.rect(s({{b['x']}}), s({{b['y']}}), s({{b['w']}}), s({{b['h']}}))
        .attr({stroke: /b0|c0/.test('{{b["char_id"]}}') ? '#f00' : '#0f0', fill: 'rgba(0,255,0,.1)'});
    r.hover(hoverIn.bind(r, 'char {{b["char_id"]}}', {{b["x"]}}, {{b["y"]}}, {{b["w"]}}, {{b["h"]}}), hoverOut);
    paper.text(s({{b['x'] + b['w'] / 2}}), s({{b['y'] + b['h'] / 2}}),
        '{{b["char_id"][2:]}}').attr({'font-size': 8});
    {% end %}
  });
</script>
</body>
</html>